<h1>Vítejte v administraci <%= hostname %></h1>
<h2>Poslední přidané/editované stránky</h2>
<table>
  <thead>
    <tr>
      <th>Nadpis stránky</th>
      <th>Akce</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Sémantický web a jeho aplikace</td>
      <td><%= link_to "Editovat", "/admin/editovat/46" %></td>
    </tr>
    
  </tbody>
</table>

<h1><img src="/images/admin/news.png" alt="Novinky" />Novinky pro uživatele systému</h1>

<h2>Novinka o věci jménem Lorem</h2>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dapibus justo a leo. Nam convallis, libero vitae pellentesque consectetur, magna ipsum semper lorem, id lobortis purus urna consectetur odio. Fusce ultrices leo. Praesent nulla libero, tincidunt nec, adipiscing in, sollicitudin ac, odio. Morbi consequat erat. Quisque sed mauris. Fusce vitae ante ut mauris euismod faucibus. Nam scelerisque lobortis erat. Quisque ut sapien. Ut ac justo. Sed quis nisi tempor est volutpat egestas. Fusce at lorem.
</p>

<h2>Víte, co to je Lorem ipsum?</h2>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dapibus justo a leo. Nam convallis, libero vitae pellentesque consectetur, magna ipsum semper lorem, id lobortis purus urna consectetur odio. Fusce ultrices leo. Praesent nulla libero, tincidunt nec, adipiscing in, sollicitudin ac, odio. Morbi consequat erat. Quisque sed mauris. Fusce vitae ante ut mauris euismod faucibus. Nam scelerisque lobortis erat. Quisque ut sapien. Ut ac justo. Sed quis nisi tempor est volutpat egestas. Fusce at lorem.
</p>

<h2>Lipsum.com = nová technologie</h2>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dapibus justo a leo. Nam convallis, libero vitae pellentesque consectetur, magna ipsum semper lorem, id lobortis purus urna consectetur odio. Fusce ultrices leo. Praesent nulla libero, tincidunt nec, adipiscing in, sollicitudin ac, odio. Morbi consequat erat. Quisque sed mauris. Fusce vitae ante ut mauris euismod faucibus. Nam scelerisque lobortis erat. Quisque ut sapien. Ut ac justo. Sed quis nisi tempor est volutpat egestas. Fusce at lorem.
</p>


<hr class="space">